/*css de areas comuns*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
 font-size: 13px;
 overflow-x: hidden;
}
header{
    height: 100px;
    background-color: #000;
    color: #fff;
}
.header{
    max-width: 1140px;
    margin: auto;
    display: flex;
    height: 100px;
    align-items: center;
}
.logo{
    width: 100px;
}
.menu-opener{
    display: none;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.logoimg{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #b28756;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid  #000;
}
.menu li a:hover, 
.menu .active a{
    border-bottom: 5px solid  #b28756;
    background-color: #b2875660;
    color: #ccc;
}


.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}
.banner a, .button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;

}
.banner .slider-pointer{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #b28756;
}
.default{
    padding-top: 50px;
    padding-bottom: 50px;

}
.default .sectiontitle, .default .sectiondesc,.default .section-title, .default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .sectiontitle, .default .section-title{
    font-size: 20px;
}
.default .sectiondesc,.default .section-desc{
font-size: 12px;
margin-top: 10px;
margin-bottom: 40px;
color: #ccc;
}
.default .sectionbody{
    max-width: 1140px;
    margin: auto;
}
.default.light{
    background-color: #f7f7f7;
}
.default.light .sectiontitle, .default.light .sectionbody, .default.light .section-title{
    color: #000;
}
.default.dark{
    background-color: #000;
}
.default.dark .sectiontitle, .default.dark .sectionbody, .default.dark .section-title{
    color:#fff;
}


/*css de áreas especificas*/


.default.light .sectionbody .about-us{
    display: flex;
}
.default.light .sectionbody .about-us .about-us--left{
    flex: 1;
}
.about-us .about-us--right{
    width: 500px;
    text-align: center;
}
.about-us--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.about-us--left p{
    font-size: 14px;
    line-height: 25px;
}

.section-services{
    display: flex;
}
.services{
    flex: 1;
    text-align: center;
    border-right: 1px solid #ccc;
    padding:15px;
}
.services:first-child{
    border-left: 1px solid #ccc;
}
.services img{
    width: 65px;
    height: 65px;
}
.services h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;;
}
.services p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.projects{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.projects-filter{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
    
}
.projects-filters li {
    padding: 0 20px;
    list-style: none;
}
.projects-filter ul{
    font-size: 0px;
}
.projects-filter li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.projects-filter li:first-child{
    border-left: none;
}
.projects-filter li:hover, .projects-filter li.active{
    border-bottom: 3px solid #b28756;
}

.photos-area{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photos{
    width: 280px;
}
.photo-img{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.photo-img img{
    width: inherit;
    height: inherit;
}
.photo-info{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
   
}
.photo-info h5{
    font-size: 18px;
    font-weight: 600;
}
.photo-img:hover .photo-info{
 display: flex;
}
/*seção teams*/
.bg-teams{
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 0px;
}
.section-teams-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-teams{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-teams .sliders{
    width: 1000vw;
    height: 100%;
}
.section-teams .slide{
    width: 280px;
    min-height: 300px;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}
.section-teams .slidearea{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: #000;
    justify-content: center;
    padding: 30px;
}
.section-teams-area .slider-pointer{
    margin-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-teams-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-teams-area .pointer.active{
    background-color: #b28756;
}
.avatar{
    width: 150px;
    height: auto;

}
.team-name{
text-transform: uppercase;
font-weight: 600;
font-size: 17px;
margin-top: 30px;
}
.team-role{
font-size: 14px;
color: #999;
margin-top: 5px;
}
.team-social{
    display: flex;
    margin-top: 20px;
}
.team-social a{
 display: inline-flex;
justify-content: center;
align-items: center;
 width: 25px;
 height: 25px;
 background-color: #ccc;
 border-radius: 13px;
 margin-right: 10px;
}
.team-social a:hover{
    background-color: #b28756;
}
.team-social a img {
    width: auto; /* Sem este parâmetro e o seguinte não deu o resultado desejado. Estou usando o Chrome. */
    height: auto;
}
.section-clients{
    overflow: hidden;

}
.section-clients .sliders{
    width: 1000vw;
    height: 100%;
}
.section-clients .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
   
}
.section-clients .slidearea{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.clients-name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
    }
.clients-role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
    }
.clients-depoiments{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients-depoiments p{
    margin-top: 15px;
    width: 650px;
    text-align: center;
}
.section-client-area .slider-pointer{
    margin-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-client-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-client-area .pointer.active{
    background-color: #b28756;
}
.section-client-area .sectionbody{
   max-width: initial;
}


.section-companies {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
.section-companies--area {
    display:flex;
    align-items:center;
}
.section-company {
    flex:1;
    text-align:center;
}

.section-price {
    display:flex;
}
.section-price--item {
    flex:1;
    background-color: #FFF;
    margin-right: 20px;
    padding:20px;
    text-align:center;
}
.section-price--item:last-child {
    margin-right:0;
}
.section-price--item-name {
    text-transform: uppercase;
    font-size:13px;
    font-weight:600;
}
.section-price--item-money {
    font-weight: bold;
    font-size:22px;
    margin-top:10px;
}
.section-price--item-period {
    color:#999;
    text-transform: uppercase;
    margin-bottom:20px;
}
.section-price--item-point {
    font-size:12px;
}

.premium {
    background-color:#FFF !important;
    border-top:1px solid #CCC;
}
.premium .section-body {
    max-width:initial;
}
.section-premium {
    overflow:hidden;
}
.section-premium a {
    margin-top:30px;
}
.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    width:300px;
    margin-right:30px;
}
.section-premium--right {
    flex:1;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:#B28756;
}


.section-facts {
    display:flex;
}
.section-fact {
    flex:1;
    text-align:center;
    padding:15px;
}
.section-fact h3 {
    color:#B28756;
    font-size:45px;
}
.section-fact-line {
    width:20px;
    border-bottom:2px solid #B28756;
    margin:auto;
}
.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-fact p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}

.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    color:#999;
}
.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:40px;
}
.section-share--legend img {
    margin-right:10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCC;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    height:12px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}

.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}



.section-map{
background-image: url(../images/mapa.jpg);
background-position: center;
background-size: cover;
padding-top: 30px;
padding-bottom: 30px;
}
.section-map--area{
width: 100vw;
max-width: 1140px;
margin: auto;
}
.section-map--info{
    width: 50%;
    padding:30px;
    color:#000;
    background-color: #fff;
}
.section-map--info-item{
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}
.section-map--info-item-img{
    width: 30px;
    height: 30px;
    background-color: #999;
    display: inline-flex;
    padding:5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.section-map--info-item-img img{
    width: 15px;
    height: auto;
}


footer {
    background-color:#000;
    padding:20px;
}
.footer--area {
    max-width:1140px;
    margin:auto;
    color:#FFF;
    display:flex;
}
.footer--item {
    flex:1;
}
.footer-social {
    display:flex;
}
.footer-social a {
    display:block;
    width:25px;
    height:25px;
    background-color:#333;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:13px;
    margin-right:10px;
}
.footer-social a:hover {
    background-color:#B28756;
}
.footer-social img {
    height:10px;
}
.footer--item.area2 {
    color:#999;
    line-height:20px;
    font-size:13px;
    padding:0 10px 10px 10px;
}
.footer--item.area3 form {
    background-color:#333;
    text-align:center;
    padding:30px;
}
.footer--item.area3 input {
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    color:#FFF;
    font-size:14px;
    text-align:center;
}




@media (min-width:450px) and (max-width:800px) {
.logo{
    margin-left: 30px;
}
nav{
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);
    width: 50vw;
    height: calc(100vh - 100px);
    top: 100px;
    right:0;
}
.menu ul{
    flex-direction: column;
}

.menu li a{
    font-weight: bold;
    height: 50px;
    font-size: 20px;
    margin-left: 30px;
    border:0px;
}
.menu-opener{
    display: block;
    width: 30px;
    margin-right: 30px;
}
.about-us{
    flex-direction: column;
}
.about-us .about-us--left{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.about-us .about-us--right{
    width: auto;
}
.section-services{
    flex-wrap: wrap;
}
.section-services .services{
    min-width:50% ;
    margin-bottom: 30px;
}
.services:first-child{
    border-left: 0;
}
.section-teams{
    max-width: 580px;
}
.section-map--info{
    width: auto;
}
}

@media (max-width:450px) {
    .logo{
        margin-left: 30px;
    }
    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right:0;
    }
    .menu ul{
        flex-direction: column;
    }
   
    .menu li a{
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border:0px;
    }
    .menu-opener{
        display: block;
        width: 30px;
        margin-right: 30px;
    }
    .about-us{
        flex-direction: column;
    }
    .about-us .about-us--left{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .about-us .about-us--right{
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .about-us .about-us--right img{
        width: 100%;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-services .services{
        min-width:100% ;
        margin-bottom: 30px;
        border: 0;
    }
    .services:first-child{
        border-left: 0;
    }
    .section-teams{
        max-width: 280px;
    }
    .projects-filter{
        margin-left: 30px;
        margin-right: 30px;
    }
    .photos-area{
        width: 320px;

    }
    .photos-area .photo-img{
        width: 300px;
        height: 190px;
        
    }
    .section-map{
        padding-bottom: 280px;
    }
    .section-map--info{
        width: auto;
    }
    .banner h1{
        font-size: 35px;
    }
    .clients-depoiments p{
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-companies .section-body{
        display: flex;
        justify-content: center;
    }
    .section-companies--area{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 270px;
    }
    .section-price{
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
    }
    .section-price .section-price--item{
        margin: 10px;
    }
    .section-premium .slidearea{
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-premium--left img{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .section-facts {
        flex-wrap: wrap;
    }
    .section-share{
        flex-wrap: wrap;
        justify-content: normal;
    }
    .section-share .section-share--legend, .section-share .section-share--item{
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .section-contact {
        max-width: 370px;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .section-contact--split {
        display: flex;
        flex-direction: column;
    }
    .section-contact input{
        margin-bottom: 20px;
    }
    .footer--area{
        display: flex;
        flex-direction: column;
    }
    .footer--area .footer--item{
        margin-bottom: 20px;
    }
    .footer--area .footer--item.area1{
        display: flex;
        justify-content: center;
    }
}
