html{
    margin: 0;
    padding: 0;
}
body{
    max-height: 100vh;
    min-height: 97vh;
    color: aliceblue;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-position: center;
    background-size: cover;
}
.imgBack{
    width: 600px;
    height: auto;
    position: absolute;
    right:9vw;
    bottom:9vh;
    opacity: 0.3;
    z-index: -999;

}
header{
    border-bottom: 5px cyan solid;
}
.container{
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li{
    border-radius: 15px;
    padding: 10px;
    text-transform: uppercase;
    margin:10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 300ms;
}
.menu ul li:hover{
    border-bottom: 2px solid blue;
}
.contTbl{
    flex-direction: column;
}
.topoTbl{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleTbl{
    font-size: 30px;
}
.SubMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.submenu-item{
    display: block;
    visibility: hidden;
    border-radius: 15px;
    padding: 10px;
    margin: 0px 15px;
    cursor: pointer;
    border: 2px solid transparent;
    text-transform: uppercase;
}
.submenu-item:hover{
    border-bottom: 2px solid rgba(0, 0, 255, 0.908);
}
.fa-circle-plus{
    cursor: pointer;
}
.fa-circle-plus:hover{
    color: greenyellow;
}
.tbl{
    border-collapse: collapse;
    text-align: center;
    display: table;
    width: 100%;
}
.tbl thead{
    background-color: #010e15;
    background-image: linear-gradient(180deg, #010e15 10%, #233ee5 100%);
}
.tbl tbody tr:nth-child(even){
    background-color: #320dd659;
    
}
.tbl tbody tr:nth-child(odd){
    background-color: #5c5ef953;
}

.tbl tbody tr:hover{
    background-color: rgba(128, 128, 128, 0.318);
}
.fa-square-pen{
    margin-right: 10px;
}
.fa-square-pen:hover{
    color: rgb(248, 248, 156);
    cursor: pointer;
}
.fa-square-minus:hover{
    color: red;
    cursor: pointer;
}
.menu .active, .SubMenu .active{
    border: 2px solid blue;
}
.backmodal{
    background-color: #a4aef57c;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    position: absolute;
    display: none;
}
.modal, .delete{
    height: auto;
    background-color: #330867;
    box-shadow: #2c45ea 1px 1px 20px 1px;
    padding: 20px;
    display: none;
    flex-direction: column;
}
.delete{
    width: 300px;
}
.formModal{
    margin-top: 10px;
}
.formulario{
    display: none;
    flex-direction: column;
}
.formulario #formSaida{
    width: 100%;
    display: flex;
    align-content: space-between;
    flex-direction: row;
}
.formulario input,.formulario select,.formulario textarea{
    margin-left: 10px;
    background-color: #330867;
    border: none;
    color: gray;
    width: 100%;
}
.formulario i,.formulario span {
    color: gray;
}
input:focus, input:active, select:focus,select:active,textarea:active, textarea:focus{
    outline: 0;
    background-color: #330867;
}
input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 1000px #330867 inset;
    -webkit-text-fill-color: gray;
}

.spaceInput{
 padding: 10px;
 display: flex;
 justify-content: start;
 min-width: 320px;
 border-radius: 10px;
 border: 1px solid gray;
 margin: 10px;
}
.formBtn, .formDelete{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.formBtn button, .formDelete button{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    box-shadow: #233ee5 1px 1px 15px 1px;
}
.formBtn .save, .formDelete .confirma{
    cursor: pointer;
    border: none;
    color: rgb(7, 7, 7);
    background-color: rgb(161, 219, 161);
}
.formBtn .cancel, .formDelete .cancel{
    cursor: pointer;
    color: rgb(7, 7, 7);
    background-color: rgb(249, 116, 116);
    border: none;
}
.formBtn .save:hover,.formDelete .confirma:hover{
    cursor: pointer;
    border: none;
    color: rgb(7, 7, 7);
    background-color: rgb(106, 243, 106);
}
.formBtn .cancel:hover, .formDelete .cancel:hover{
    cursor: pointer;
    color: rgb(7, 7, 7);
    background-color: rgb(249, 77, 77);
    border: none;
}
.row{
    display: flex;
}
#formSaida fieldset{
    width: 10vw;
    height: 380px;
}
#max{
    visibility: hidden;
}
#formSaida .formBtn{
    padding-top: 20px;
    display: inline-block;
    margin: auto;
}
#formSaida .formBtn .cancel{
    margin-left: 30px;
    width: 110px;
}

#formSaida .formBtn .save{
width: 110px;
}
textarea {
    resize: none;
}
.error h2{
    visibility:hidden;
}